/* === CHARACTERS === */
.animaMiniUfo {
    background: url(../imgs/miniUfo.png) transparent;
    animation: playMiniUfo .9s steps(16) infinite;

    -webkit-animation: playMiniUfo .9s steps(16) infinite;
    -moz-animation: playMiniUfo .9s steps(16) infinite;
}

.animaBigEyes {
    background: url(../imgs/bigEyes.png) transparent;
    animation: playBigEyes .7s steps(22) infinite;

    -webkit-animation: playBigEyes .7s steps(22) infinite;
    -moz-animation: playBigEyes .7s steps(22) infinite;
}

.animaMarsMecha {
    background: url(../imgs/marsMecha.png) transparent;
    animation: playMarsMecha .9s steps(8) infinite;

    -webkit-animation: playMarsMecha .9s steps(8) infinite;
    -moz-animation: playMarsMecha .9s steps(8) infinite;
}

.animaPow {
    background: url(../imgs/pow.png) transparent;
    animation: playPow .9s steps(12) infinite;

    -webkit-animation: playPow .9s steps(12) infinite;
    -moz-animation: playPow .9s steps(12) infinite;
}

.animaMissile {
    background: url(../imgs/missile.png) transparent;
    animation: playMissile .5s steps(2) infinite;

    -webkit-animation: playMissile .5s steps(2) infinite;
    -moz-animation: playMissile .5s steps(2) infinite;
}

/* === EXPLOSION && DEATH === */
.animaFlyingTaraExplosion {
    width: 80px;
    height: 80px;
    background: url(../imgs/flyingTaraExplosion.png) transparent;
    animation: playFlyingTaraExplosion .9s steps(17) infinite;

    -webkit-animation: playFlyingTaraExplosion .9s steps(17) infinite;
    -moz-animation: playFlyingTaraExplosion .9s steps(17) infinite;
}

.animaMiniUfoExplosion {
    width: 58.09px;
    height: 58px;
    background: url(../imgs/miniUfoExplosion.png) transparent;
    animation: playMiniUfoExplosion .9s steps(22) infinite;

    -webkit-animation: playMiniUfoExplosion .9s steps(22) infinite;
    -moz-animation: playMiniUfoExplosion .9s steps(22) infinite;
}

.animaBigEyesExplosion {
    width: 46px;
    height: 46px;
    background: url(../imgs/bigEyesExplosion.png) transparent;
    animation: playBigEyesExplosion .9s steps(5) infinite;

    -webkit-animation: playBigEyesExplosion .9s steps(5) infinite;
    -moz-animation: playBigEyesExplosion .9s steps(5) infinite;
}

.animaMarsMechaExplosion {
    width: 108px;
    height: 118px;
    background: url(../imgs/marsMechaExplosion.png) transparent;
    animation: playMarsMechaExplosion .9s steps(21) infinite;

    -webkit-animation: playMarsMechaExplosion .9s steps(21) infinite;
    -moz-animation: playMarsMechaExplosion .9s steps(21) infinite;
}

.animaPowDeath {
    width: 40px;
    height: 36px;
    background: url(../imgs/powDeath.png) transparent;
    animation: playPowDeath .9s steps(10) infinite;

    -webkit-animation: playPowDeath .9s steps(10) infinite;
    -moz-animation: playPowDeath .9s steps(10) infinite;
}

/* === KEYFRAMES CHARACTERS === */
@keyframes playMiniUfo {
    from {background-position: 0px;}
    to {background-position: -736px;}
}

@-webkit-keyframes playMiniUfo {
    from {background-position: 0px;}
    to {background-position: -736px;}
}

@-moz-keyframes playMiniUfo {
    from {background-position: 0px;}
    to {background-position: -736px;}
}

@keyframes playBigEyes {
    from {background-position: 0px;}
    to {background-position: -814px;}
}

@-webkit-keyframes playBigEyes {
    from {background-position: 0px;}
    to {background-position: -814px;}
}

@-moz-keyframes playBigEyes {
    from {background-position: 0px;}
    to {background-position: -814px;}
}

@keyframes playMarsMecha {
    from {background-position: 0px;}
    to {background-position: -1408px;}
}

@-webkit-keyframes playMarsMecha {
    from {background-position: 0px;}
    to {background-position: -1408px;}
}

@-moz-keyframes playMarsMecha {
    from {background-position: 0px;}
    to {background-position: -1408px;}
}

@keyframes playPow {
    from {background-position: 0px;}
    to {background-position: -420px;}
}

@-webkit-keyframes playPow {
    from {background-position: 0px;}
    to {background-position: -420px;}
}

@-moz-keyframes playPow {
    from {background-position: 0px;}
    to {background-position: -420px;}
}

@keyframes playMissile {
    from {background-position: 0px;}
    to {background-position: -96px;}
}

@-webkit-keyframes playMissile {
    from {background-position: 0px;}
    to {background-position: -96px;}
}

@-moz-keyframes playMissile {
    from {background-position: 0px;}
    to {background-position: -96px;}
}

/* === KEYFRAMES EXPLOSIONS === */
@keyframes playFlyingTaraExplosion {
    from {background-position: 0px;}
    to {background-position: -1360px;}
}

@-webkit-keyframes playFlyingTaraExplosion {
    from {background-position: 0px;}
    to {background-position: -1360px;}
}

@-moz-keyframes playFlyingTaraExplosion {
    from {background-position: 0px;}
    to {background-position: -1360px;}
}

@keyframes playMiniUfoExplosion {
    from {background-position: 0px;}
    to {background-position: -1278px;}
}

@-webkit-keyframes playMiniUfoExplosion {
    from {background-position: 0px;}
    to {background-position: -1278px;}
}

@-moz-keyframes playMiniUfoExplosion {
    from {background-position: 0px;}
    to {background-position: -1278px;}
}

@keyframes playBigEyesExplosion {
    from {background-position: 0px;}
    to {background-position: -230px;}
}

@-webkit-keyframes playBigEyesExplosion {
    from {background-position: 0px;}
    to {background-position: -230px;}
}

@-moz-keyframes playBigEyesExplosion {
    from {background-position: 0px;}
    to {background-position: -230px;}
}

@keyframes playMarsMechaExplosion {
    from {background-position: 0px;}
    to {background-position: -2268px;}
}

@-webkit-keyframes playMarsMechaExplosion {
    from {background-position: 0px;}
    to {background-position: -2268px;}
}

@-moz-keyframes playMarsMechaExplosion {
    from {background-position: 0px;}
    to {background-position: -2268px;}
}

@keyframes playPowDeath {
    from {background-position: 0px;}
    to {background-position: -400px;}
}

@-webkit-keyframes playPowDeath {
    from {background-position: 0px;}
    to {background-position: -400px;}
}

@-moz-keyframes playPowDeath {
    from {background-position: 0px;}
    to {background-position: -400px;}
}