@font-face {
    font-family: font_armalite;
    src: url(../fontes/armalite.ttf);
}

body {
    background: lightgray;
}

/* === ELEMENTS DIVs === */
#container {
    width: 950px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#gameBackground {
    width: 950px;
    height: 630px;
    background: url(../imgs/game_background.png);
    background-size: cover;
    border: 1px solid #FFF;
}

#nameLogo {
    width: 770px;
    height: 190px;
    position: absolute;
    font-family: font_armalite;
    text-align: center;
    margin: 3% auto auto 10%;
}

#nameLogo p:nth-child(1) {
    font-size: 120px;
    margin: 0px;
}

#nameLogo p:nth-child(2) {
    font-size: 60px;
    margin-top: -25px;
}

#howToPlay {
    width: 400px;
    height: 180px;
    background: lightgray;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: justify;
    margin: 28% auto auto 30%;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

#howToPlay p {
    margin: 10px;
    padding-left: 15px;
}

#startButton {
    width: 250px;
    background: lightgray;
    font-family: font_armalite;
    font-size: 40px;
    color: #000;
    padding: 5px;
    margin: 5% auto auto auto;
    text-align: center;
    border: 3px solid lightslategray;
    border-radius: 5px;
}

#startButton:hover {
    background: linear-gradient(rgba(255, 250, 1, .50), rgba(255, 1, 20, .50)100%);
}

#endScreen {
    width: 600px;
    height: 350px;
    font-family: font_armalite;
    margin: 100px auto auto auto;
    text-align: center;
    padding: 10px;
}

#endScreen h1 {
    margin-top: 0px;
    font-size: 100px;
    color: red;
}

#restartButton {
    width: 350px;
    height: 50px;
    margin: 100px auto auto auto;
    padding-top: 6px;
    background: lightslategrey;
    font-size: 40px;
    border: 3px solid lightslategray;
    border-radius: 5px;
    color: #000;
}

#restartButton:hover {
    background: linear-gradient(rgba(255, 250, 1, .50), rgba(255, 1, 20, .50)100%);
}

/* === CHARACTERS DIVs === */
#flyingTara {
    width: 80px;
    height: 46px;
    background: url(../imgs/flyingTaraIdle.png) transparent;
    position: absolute;
    left: 20px;
    top: 200px;
}

#miniUfo {
    width: 46px;
    height: 40px;
    position: absolute;
    left: 860px;
    top: 253px;
    background: url(../imgs/miniUfo.png) transparent;
}

#bigEyes {
    width: 37px;
    height: 33px;
    position: absolute;
    left: 860px;
    background: url(../imgs/bigEyes.png) transparent;
}

#marsMecha {
    width: 176px;
    height: 181px;
    position: absolute;
    left: 775px;
    top: 435px;
    background: url(../imgs/marsMecha.png) transparent;
}

#prisionerOfWar {
    width: 35px;
    height: 43px;
    position: absolute;
    left: 10px;
    top: 564px;
    background: url(../imgs/pow.png) transparent;
}

#missile {
    width: 48px;
    height: 17px;
    position: absolute;
    background: url(../imgs/missile.png) transparent;
}

/* === GUI DIVs === */
#interface {
    width: 950px;
    height: 60px;
    position: absolute;
    background: url(../imgs/interface.png) transparent;
}

#energyBar {
    width: 160px;
    height: 45px;
    position: absolute;
    left: 400px;
    top: 9px;
    background: url(../imgs/EnergyBar3.png) transparent;
}

#savedPow {
    left: 100px;
}

#savedPow p {
    margin: 0px;
    padding: 3px;
}

#savedPow p:nth-child(2) {
    margin-top: -6px;
}

#lostPow {
    left: 250px;
}

#lostPow p {
    margin: 0px;
    padding: 3px;
}

#lostPow p:nth-child(2) {
    margin-top: -6px;
}

#playerScore {
    left: 610px;
}

#playerScore p {
    margin: 0px;
    padding: 3px;
}

#playerScore p:nth-child(2) {
    margin-top: -6px;
}

#bestScore {
    left: 760px;
}

#bestScore p {
    margin: 0px;
    padding: 3px;
}

#bestScore p:nth-child(2) {
    margin-top: -6px;
}

.scoreWindow {
    width: 100px;
    height: 45px;
    top: 6px;
    position: absolute;
    background: #000;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFF;
    font-size: 16px;
    text-align: center;
    color: #FFF;
}

/* === EXPLOSIONS DIVs === */
#flyingTaraExplosion {
    width: 80px;
    height: 80px;
    position: absolute;
}

#miniUfoExplosion {
    width: 58.09px;
    height: 58px;
    position: absolute;
}

#bigEyesExplosion {
    width: 46px;
    height: 46px;
    position: absolute;
}

#marsMechaExplosion {
    width: 108px;
    height: 118px;
    position: absolute;
}

#powDeath {
    width: 40px;
    height: 36px;
    position: absolute;
}