@font-face {
    font-family: font_armalite;
    src: url(../fontes/armalite.ttf);
}

body {
    background-color: lightgray;
}

/* --- ELEMENTS DIVs --- */
#container {
    width: 950px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#gameBackground {
    width: 950px;
    height: 630px;
    background-image: url(../imgs/game_background.png);
    background-size: cover;
    border-color: #FFF;
    border-style: solid;
}

#nameLogo {
    width:fit-content;
    height: fit-content;
    position: absolute;
    font-family: font_armalite;
    text-align: center;
    margin-top: 3%;
    margin-left: 10%;
}

#nameLogo p:nth-child(1) {
    font-size: 120px;
    margin: 0px;
}

#nameLogo p:nth-child(2) {
    font-size: 60px;
    margin-top: -25px;
}

#howToPlay {
    margin: 0px;
    width: 400px;
    height: fit-content;
    background-color: lightgray;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: justify;
    margin-top: 28%;
    margin-left: 28%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightslategray;
}

#howToPlay p {
    margin: 10px;
    padding-left: 20px;
}

#start {
    width: 250px;
    background-color: lightgray;
    font-family: font_armalite;
    font-size: 40px;
    color: #000000;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: lightslategray;
}

#start:hover {
    background: linear-gradient(rgba(255, 250, 1, .50), rgba(255, 1, 20, .50)100%);
}

#endScreen {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    font-family: font_armalite;
}

#endScreen h1 {
    font-family: font_armalite;
    font-size: 100px;
    color: red;
    margin-top: 40px;
}

#endScreen p:nth-child(2) {
    font-size: 60px;
    margin-top: -20px;
}

#endScreen p:nth-child(3) {
    font-size: 60px;
    margin-top: -65px;
}

#restartButton {
    width: 350px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-top: 6px;
    background-color: lightgrey;
    font-family: font_armalite;
    font-size: 40px;
    text-align: center;
    color: #000000;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: lightslategray;
}

#restartButton:hover {
    background: linear-gradient(rgba(255, 250, 1, .50), rgba(255, 1, 20, .50)100%);
}

/* --- CHARACTERS DIVs --- */
#flyingTara { /* Player Avatar */
    width: 80px;
    height: 46px;
    position: absolute;
    left: 20px;
    top: 179px;
    background-image: url(../imgs/flyingTara_idle.png);
}

#miniUfo {
    width: 46px;
    height: 40px;
    position: absolute;
    left: 860px;
    top: 253px;
    background-image: url(../imgs/miniUfo.png);
}

#rebelTruck {
    width: 123px;
    height: 78px;
    position: absolute;
    left: 820px;
    top: 530px;
    background-image: url(../imgs/rebelTruck.png);
}

#bigEyes {
    width: 37px;
    height: 33px;
    position: absolute;
    background-image: url(../imgs/bigEyes.png);
    left: 860px;
}

/*#bigEyes_2 {
    width: 34px;
    height: 32px;
    position: absolute;
    left: 689px;
    top: 350px;
    background-image: url(../imgs/bigEyes_2.png);
}*/

#marsMecha {
    width: 176px;
    height: 181px;
    position: absolute;
    left: 775px;
    top: 435px;
    background-image: url(../imgs/marsMecha.png);
}

#prisionerOfWar {
    width: 35px;
    height: 43px;
    position: absolute;
    left: 10px;
    top: 564px;
    background-image: url(../imgs/pow.png);
}

#missile {
    width: 48px;
    height: 17px;
    position: absolute;
    background-image: url(../imgs/missile.png);
}

/*#bigEyes_projectile {
    width: 12px;
    height: 12px;
    position: absolute;
}*/

/* --- GUI DIVs --- */
#interface {
    width: 950px;
    height: 60px;
    position: absolute;
    background-image: url(../imgs/interface.png);
}

#energyBar {
    width: 160px;
    height: 45px;
    position: absolute;
    left: 400px;
    top: 9px;
}

#savedPow {
    width: 100px;
    height: 45px;
    position: absolute;
    left: 100px;
    top: 6px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    color: white;
}

#savedPow p {
    margin: 0px;
    padding: 3px;
}

#savedPow p:nth-child(2){
    margin-top: -6px;
}

#lostPow {
    width: 100px;
    height: 45px;
    position: absolute;
    left: 250px;
    top: 6px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    color: white;
}

#lostPow p {
    margin: 0px;
    padding: 3px;
}

#lostPow p:nth-child(2) {
    margin-top: -6px;
}

#playerScore {
    width: 100px;
    height: 45px;
    position: absolute;
    left: 610px;
    top: 6px;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    font-size: 16px;
    text-align: center;
    color: white;
}

#playerScore p {
    margin: 0px;
    padding: 3px;
}

#playerScore p:nth-child(2) {
    margin-top: -6px;
}

#bestScore {
    width: 100px;
    height: 45px;
    position: absolute;
    left: 760px;
    top: 6px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    color: white;
}

#bestScore p {
    margin: 0px;
    padding: 3px;
}

#bestScore p:nth-child(2) {
    margin-top: -6px;
}

/* --- EXPLOSIONS DIVs --- */
#flyingTaraExplosion {
    width: 80px; /* 17 frames */
    height: 80px;
    position: absolute;
}

#miniUfoExplosion {
    width: 58.09px;
    height: 58px;
    position: absolute;
}

#rebelTruckExplosion {
    width: 124px;
    height: 83px;
    position: absolute;
}

#marsMechaExplosion {
    width: 108px;
    height: 118px;
    position: absolute;
}

#bigEyesExplosion {
    width: 46px;
    height: 46px;
    position: absolute;
}

#powDeath {
    width: 40px;
    height: 36px;
    position: absolute;
}